<div class="container">
	<h1>New Month Register</h1>
	<%= render 'form' %><br>
	<%= link_to "All Months", months_path(@month), class: "button" %>
	<%= link_to "Back", months_path, class: "btn btn-default" %>
</div>