<div class="container">
	<div class="form">
	    <div class="modal-body">
			<%= simple_form_for @note do |f|%>
				<%= f.input :title, :autofocus => true, :label => false, :placeholder => 'Title', :input_html => { :class => "input-block-level" } %><br>
				<%= f.input :content, :label => false, :placeholder => 'Content', :input_html => { :class => "input-block-level" } %>
			    <div class="modal-footer">
					<%= f.button :submit, "Crear", :class => 'btn-info'  %>
			    </div>
			<%end%>
		</div>
	</div>
</div>
	