<div class="container">
	<h1>New Month Register</h1>
	<%= render 'form' %><br>
	<%= link_to "All Months", month_index_path(@month), class: "button" %>
	<%= link_to "Back", month_index_path, class: "btn btn-default" %>

</div>