<div class="container">
<div id="welcomebody">
	<div id="homeHeader">
		<h1>Hello</h1>
	</div>
	<div class="col-md-6">
		<ul>
			<li class="home_button" id= "tasks1">
			  <%= link_to "Tasks", recipes_path %>
			</li>
		</ul>

		<ul>
			<li class="home_button" id="notes1">
			  <%= link_to "Notes", notes_path %>
			</li>
		</ul>
	</div>	
	<div class="col-md-6">
		<ul>
			<li class="home_button" id="recipes1">
			  <%= link_to "Recipes", recipes_path %>
			</li>
		</ul>

		<ul>
			<li class="home_button" id="finances1">
			  <%= link_to "Finances", root_path %>
			</li>
		</ul>
	</div>
</div>
</div>