<div class="container">
<!-- 	<div class="jumbotron">
	  <h2>Restaurant Pro</h2>
	  <p>
	    Your One Stop To Manage Your Food Business<br>
	    We have it all, store your notes, schedules,<br>
	    expenses,credits, and your recipes.<br>
	    All in the same place<br>
	    "Restaurant-PRO"
	  </p>
	  <p><a class="btn btn-lg btn-success">Sign Up! <span class="glyphicon glyphicon-ok"></span></a></p>
	</div> -->
	<div class="welcomebody">
		<div class="col-md-6">
			<ul>
				<li class="home_button" id= "tasks1">
				  <%= link_to "Tasks", tasklist_index_path %>
				</li>
			</ul>

			<ul>
				<li class="home_button" id="notes1">
				  <%= link_to "Notes", notes_path %>
				</li>
			</ul>
		</div>	
		<div class="col-md-6">
			<ul>
				<li class="home_button" id="recipes1">
				  <%= link_to "Recipes", recipes_path %>
				</li>
			</ul>

			<ul>
				<li class="home_button" id="finances1">
				  <%= link_to "Finances", months_path %>
				</li>
			</ul>
		</div>
	</div>
</div>
<footer>
  <center>&copy, RC Hernandez</center>
</footer>