#monthbody{
		h1{
		font-weight: bold;
		text-transform: capitalize;
		padding-bottom: .95rem;
		border-bottom: 1px solid $red;
		color: green;
		display: block;
		text-align: center;
	}
}
.preform{
	margin-top: 10px;
	border-top:1px solid $red;
	form{
		margin-left: 90px;
	}
}
td {
  padding-top: 3px; 
} 
th, td{
		text-align: center;
}
table{
	width: 100%;
	border-collapse: collapse;
}

#expenses{
	padding: 1rem;
    background: rgb(255,255,255); /* for IE */
    background: rgba(255,255,255,0.75);
   	margin-bottom: 20px;
   	    u{
    	 text-decoration: none;
    	 border-bottom: 2px solid blue;
    }
}

#incomes{
	padding: 1.5rem;
    background: rgb(255,255,255); /* for IE */
    background: rgba(255,255,255,0.75);
    margin-bottom: 20px;
    u{
    	 text-decoration: none;
    	 border-bottom: 2px solid blue;
    }
}

.newmonth{
	width: 50%;
	margin-left: 40%;
	h1{
		margin-left: -40%;
	}
	u{
    	text-decoration: none;
    	border-bottom: 2px solid blue;
    }
}