<div class="container">
	<div class="expensename">
	<tr>
	<td><%= expense.amount %></td>
	<td><%= expense.to %></td>
	<td><%= expense.duedate %></td>
	<td><%= link_to "Delete", [expense.month, expense], method: :delete, data: {confirm: "Are you sure you want to delete this expense?"}, class: "btn btn-danger" %></td>
	</td>
	</div>
</div>